<div class="header">
    <div class="d-flex justify-content-between">
        <div class="brand">
            <a href="">
                <img src="../../assets/images/carro-svg-bundle-carro-svg-carro-de-corrida-svg-carro-esportivo-svg_650032-445-removebg-preview.png"
                    alt="">
                <h1>Concessionária</h1>
            </a>
        </div>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            <i class="fa-solid fa-bars" style="color: #D6D9BF;"></i>
        </button>
    </div>
    <nav class="collapse" id="collapseExample">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/financiamento">Financiamento</a></li>
            <li><a href="/sobre">Venha até nós</a></li>
        </ul>
    </nav>
</div>